---
---

@layer navigationBar {
.navbar {
  position: fixed;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 101% !important;
  height: 15% !important;
  background-color: #272624 !important;
  z-index: 1000 !important;
  display: block !important;
  align-items: center;
  font-family:'Proxima Nova';
  }

.navbar a:hover,
.navbar a:focus {
  color: #E3BA8A !important;
  background: none !important;
}

.navbar-table {
  position: relative !important;
  display: flex !important;
  justify-content: center !important;
  background-color: #ffffff00 !important;
  position: absolute !important;
  right: 20% !important;
  top:50% !important;
  width: 45% !important;
  height: 30% !important;
}

.navbar-cell {
  display: flex !important;
  border: 0.1em solid #ffffff !important;
  background-color: #fce4ec00 !important;
  width: 33.33% !important;
  height: 100% !important;
  justify-content: center !important;
  text-align: center !important;
  align-items: center !important;
}

.navbar-cell a {
  text-decoration: none !important;
  color: white !important;
  justify-content: center !important;
  text-align: center !important;
}

.navbar-brand{
justify-content: center !important;
align-items: center !important;
position: absolute !important;
display: flex !important;
height: 40% !important;
width: 15% !important;
top: 50% !important;
right: 70% !important;
}

.navbar-brand img { 
  height: 100% !important;
  width: 100% !important;
  object-fit: contain !important;
}
}

@layer general {
html {
  scroll-behavior: smooth;
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  height: 100% !important;
  width: 100% !important;
  margin: 0 !important;
  margin-top: 7% !important;
  padding: 0 !important;
} 


.parallax {
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.titre {
  text-align: left;
  color: #E3BA8A;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 120%;
  letter-spacing: 0.20em;
}
}
@layer section1 {
.section1 {
  height: 60% !important;
  width: 100% !important;
  justify-content: center !important;
  align-items: top !important;
  display: flex !important;
  flex-wrap: wrap !important;
  background-size: cover !important;
  background-position: center center !important;
  background-image: linear-gradient(0deg, rgba(219, 218, 217, 0.5), url("/assets/images/background1.png")) !important;
}


.section1 .texte {
  position: relative !important;
  height: 25% !important;
  width: 45% !important;
  top: 30% !important;
  text-align: center !important;
  color: #272624 !important;
}
.section1 .titre {
  text-align: left !important;
  font-size: 120% !important;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: bold !important;
  letter-spacing: 0.20em !important;
  margin-bottom: 5% !important;
  color: #272624 !important;
}

.section1 .devise {
  margin-top: 0 !important;
  text-align: left !important;
  font-size: 375% !important;
}
}
@layer section2 {
.section2 {
  height: 65% !important;
  width: 100% !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  display: flex !important;
  line-height: 150% !important;
}


.section2 .encadre {
  position: relative !important;
  height: 90% !important;
  width: 32% !important;
  bottom: 18% !important;
  border: #E3BA8A solid !important;
  text-align: justify !important;
  padding-left: 8% !important;
  padding-right: 8% !important;
  display: flex !important;
  flex-direction: column !important;
}

.section2 .espaceur {
  height: 30%;
}
}
@layer section3 {

    .section3 {
    position: relative;
    height: 60%;
    width: 100% ;
    text-align: center ;
    justify-content: center ;
    align-items: center ;
    overflow: hidden;
    display: flex ;
  }

  .section3 .parallax {
    width: 100% !important;
  }

  .section3ContainerImage {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
  display: flex;
  }

  .section3 img {
    width: 100% !important;
    height: auto !important;
  }
}
@layer section4 { 
    .section4 {
    position: relative;
    height: 150% !important;
    width: 100% !important;
    text-align: left !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .section4 .titre {
    position: relative;
    width: 50%;
    display: flex;
  }

  .section4 .contenue {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  .section4 .liste {
    text-align: justify;
    position: relative;
    padding-left: 5%;
    padding-right: 10%;
    width: 65%;
    display: flex;
    flex-direction: column;
    line-height: 150%;
  }

  .section4 .liste li {
    margin-bottom: 4%;
  }

  .section4 .liste li ul li {
    margin-bottom: 2%;
  }
}
@layer section5 {
  .section5 {
    position: relative;
    height: 80% !important;
    width: 100% !important;
    text-align: center !important;
    justify-content: space-evenly !important;
    justify-items: center !important;
    align-items: center !important;
    align-content: center !important;
    background-color: #272624 !important;
    color: #ffffff !important;
    display: flex !important;
    scroll-margin-top: 11vh;
    flex-direction: column;
  }

  .section5 .contenue {
    position: relative;
    height: 80% !important;
    width: 100% !important;
    text-align: center !important;
    justify-content: space-between !important;
    align-items: center !important;
    justify-items: center !important;
    align-content: center !important;
    background-color: #272624 !important;
    color: #ffffff !important;
    display: flex !important;
  }

  .section5 .titre {
    width: 48%;
  }

  .section5ContenantPhoto1 {
    height: 100% !important;
    width: 25% !important;
    overflow: hidden !important;
    background-color: aqua;
  }

  .section5ContenantPhoto2 {
    height: 100% !important;
    width: 25% !important;
    overflow: hidden;
    background-color: aqua;
  }

  .section5 img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
  }
}
@layer section6{
  .section6 {
    position: relative;
    height: 20% !important;
    width: 60% !important;
    text-align: left !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
  }
}
@layer section7{
  
  .section7 {
    position: relative;
    height: 40% !important;
    width: 100% !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
  }

  .section7 .tableau {
    border: 1px solid #000 !important;
    border-collapse: collapse !important;
    height: 80% !important;
    width: 50% !important;
    display: table !important;
  }

  .section7 .colone {
    display: table-cell !important;
    border: 1px solid #000 !important;
    padding: 5% !important;
    justify-content: space-between !important;
    align-content: space-between !important;
    justify-items: space-between !important;
    align-items: space-between !important;
    width: 33.33%;
  }

  .section7 .colone .contenuColonne {
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    align-content: start;
    justify-items: left;
    align-items: start;
    line-height: 150%;
  }
  .section7 .colone .titreColonne {
    display: flex;
    height: 50%;
    width: 100%;
    flex-direction: column;
    letter-spacing: 0.20em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    justify-content: left;
    align-content: start;
    text-align: left;
    color: #272624;
    font-weight: lighter;
}

}

/* commentaire */
