<!--Slogan-->
<div class="section1">
  <div class="texte">
    <p class=titre>LETARTE AVOCAT</p>
    <p class="devise">VOUS MÉRITEZ LA<br />
                      MEILLEURE DÉFENSE.</p>
  </div>
</div>

<!--A propos-->
<div class="section2" id = "section1">
  <div class = "encadre">
    <div class = "espaceur"></div>
    <div class = titre>
      <p>À PROPOS<br /><br />
    </div>
    </p>
    <p>
      Situé à Trois-Rivières, <span style="color:#272624 ; font-family:Arial, Helvetica, sans-serif; font-weight: bold;">LETARTE</span> <span style="font-weight:bold; color:#E3BA8A  ; font-family:Arial, Helvetica, sans-serif;">AVOCAT</span> offre des services exclusivement liés au droit familial. Détenant une solide expertise en litige et plaidoirie, chaque dossier est abordé avec une approche personnalisée et gagnante.<br /><br />
      Depuis 2006, notre mission et notre engagement sont clairs: vous offrir rigueur et efficacité tout au long du cheminement de votre cause. Avec plus d'un millier de clients représentés à ce jour à travers la province, nous sommes la référence en Mauricie.<br /><br />
      Nous pouvons vous aider à faire face au processus judiciaire. Quotidiennement, nous visons l'excellence pour tous nos clients.
    </p>
  </div>
</div>
<!--ImageParralaxe-->
<div class="section3">
  <div class="parallax">
    <div class="section3ContainerImage" style="overflow-x: hidden; overflow-y: hidden; display: flex; flex-wrap: wrap; height: 100%; width: 100%;"><img src="{{ '/assets/images/background2.jpg' | relative_url }}" alt="background2" name="background2.jpg" style="position: relative; height: 100%; width: 100%; top: 10px;" /></div>
  </div>
</div>

<!--Services-->
<div class="section4" >
  <div class  = "titre">
    <p>NOS SERVICES</p>
  </div>
  <div class="contenue">
    <div class = sousTitre>
    <p>DROIT FAMILIAL</p>
    </div>
    <div class="liste">
      <p>Représentation à la Cour supérieure lors de séparation et divorce; Obtention d'un jugement par suite de procès, négociation ou à l'amiable concernant:</p>
      <ul>
        <li>
          La garde d'enfant et le partage du temps parental
          <ul>
            <li>
              Garde majoritaire à un parent
            </li>
             <li>
              Garde partagée
            </li>
          </ul>
        </li>
        <li>
          Le droit à une pension alimentaire pour les enfants et époux
          <ul>
            <li>
              Obtention d'un jugement afin que la pension soit fixée, perçue et administrée automatiquement
            </li>
             <li>
              Révision d'un jugement par suite de changements dans les besoins ou revenus
            </li>
             <li>
              Fixation d'un revenu lors de mauvaise foi d'un payeur ou bénéficiaire d'une pension alimentaire (revenus occultes, train de vie incompatible ou refus de maximiser ses revenus sans raison)
            </li>
          </ul>
        </li>
        <li>
          Le partage des actifs, fin de la copropriété et réclamations financière découlant d'une rupture
          <ul>
            <li>
              Partage des biens et droits en vertu du patrimoine familial, de la dissolution du régime matrimonial et prestation compensatoire dans le cadre d'une Demande en divorce 
            </li>
             <li>
              Recours pour le partage des biens et en enrichissement injustifié lors de rupture des conjoints de fait
            </li>
          </ul>
        </li>
        <li>
          L'exercice de l'autorité parentale (prendre les décisions nécessaires au bien-être de son enfant)
          <ul>
            <li>
              Retrait d'un attribut de l'autorité ou de son exercice lors d'incompétence d'un parent
            </li>
             <li>
              Déchéance de l'autorité lors de motifs graves, dont violence familiale ou infraction criminelle commise par un parent
            </li>
          </ul>
        </li>
        <li>
          La réclamation ou contestation de filiation
        </li>
        <li>
          Les recours en changement de nom
          <ul>
            <li>
              L'enfant n'a plus de filiation ou a été abandonné
            </li>
             <li>
              Le parent a été déchu de son autorité parentale
            </li>
          </ul>
        </li>
      </ul>
      <p>Avec nous, tous les aspects de la garde de chaque enfant et la protection de vos biens et de vos droits sont assurés. <br /><br /> Prendre note que nous n'acceptons pas les mandats d'aide-juridique et que nous prenons en priorité les dossiers à Trois-Rivières et Shawinigan.</p>
    </div>
  </div>
</div>

<!--Equipe-->
<div class="section5" id = "section2" style="height: 50%; text-align: center; justify-content: space-between; align-items: center; background-color: rgb(39, 38, 36); color: rgb(255, 255, 255); display: flex;">
  <div class = titre>
    ÉQUIPE
  </div>
  <div class = contenue>
    <div class="section5ContenantPhoto1" style="background-color: aqua; height: 100%; width: 25%; overflow-x: hidden; overflow-y: hidden;"><img src="{{ '/assets/images/photoMarcAndre.jpg' | relative_url }}" alt="photoMarcAndre" name="photoMarcAndre.jpg" style="object-fit: cover; max-width: 100%; height: 100%; width: 100%;" /></div>
    <div class="section1Text1">
      <p style="font-size: 150%; font-family: Arial, Helvetica, sans-serif;">MARC-ANDRÉ LETARTE</p>
      <p style="text-align: center;">
        Membre du barreau du Québec <br />
        depuis 2006, Me Letarte plaide <br />
        régulièrement à la Cour supérieure <br />
        et Cour du Québec. Il s'assure que <br />
        chaque client comprenne les enjeux <br />
        e t implications de sa situation <br />
        juridique afin de maximiser leurs <br />
        gains.
      </p>
    </div>
    <div class="section1Text2">
      <p style="font-size: 150%; font-family: Arial, Helvetica, sans-serif;">SUZIE LEAHEY</p>
      <p style="text-align: center;">
        Avec plus de 15 ans d'expérience <br />
        dans le domaine juridique, Mme <br />
        Leahey détient une solide <br />
        connaissance en matière familiale et <br />
        civile. Maîtrisant les subtilités de la <br />
        procédure juridique, son soutien et <br />
        son dévouement à la réussite de <br />
        votre cause ne laissera aucun doute.
      </p>
    </div>
  <div class="section5ContenantPhoto2" style="overflow-x: hidden; overflow-y: hidden; background-color: aqua; height: 100%; width: auto;"><img src="{{ '/assets/images/photoSuzie.jpg' | relative_url }}" alt="photoSuzie" name="photoSuzie.jpg" style="object-fit: cover; max-width: 100%; height: 100%; width: 100%;" /></div>
  </div>
</div>

<!--Espace-->
<div class="section6" style="height: 10%; text-align: center; justify-content: center; align-items: center; display: flex;">
  <div class = titre>
    <p>Nous joindre</p></div>
  </div>

<!--Nous Joindre-->
<div class="section7" id = "section3" style="height: 50%; text-align: center; justify-content: center; align-items: center; display: flex;">
  <div class="tableau" style="border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(0, 0, 0); border-right-color: rgb(0, 0, 0); border-bottom-color: rgb(0, 0, 0); border-left-color: rgb(0, 0, 0); border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; border-collapse: collapse; height: 80%; width: 80%; display: table;">
    <div class="colone" style="display: table-cell; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(0, 0, 0); border-right-color: rgb(0, 0, 0); border-bottom-color: rgb(0, 0, 0); border-left-color: rgb(0, 0, 0); border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; padding-top: 5%; padding-right: 5%; padding-bottom: 5%; padding-left: 5%;">
      <div class = titreColonne> <p>CONTACT</p> </div> 
      <div class = contenuColonne>
        <p>Email : <a href= "mailto: contact@monsite.com"> contact@monsite.com</a> <br />
        Téléphone : <a href="tel:+14185551234"> 14185551234 </a> <br />
        Fax: (819) 371-2417</p>
      </div>
    </div>

    <div class="colone" style="display: table-cell; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(0, 0, 0); border-right-color: rgb(0, 0, 0); border-bottom-color: rgb(0, 0, 0); border-left-color: rgb(0, 0, 0); border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; padding-top: 5%; padding-right: 5%; padding-bottom: 5%; padding-left: 5%;">
      <div class = titreColonne><p>ADRESSE <br /></p></div>
      <div class = contenuColonne>
        <p>LETARTE <span style="color: #E3BA8A; ">AVOCAT</span> <br />
        1350, rue Royale, bureau 900 <br />
        Trois-Rivières (Québec), G9A 4J4 <br /></p>
      </div>
    </div>
    <div class="colone" style="display: table-cell; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: rgb(0, 0, 0); border-right-color: rgb(0, 0, 0); border-bottom-color: rgb(0, 0, 0); border-left-color: rgb(0, 0, 0); border-image-source: initial; border-image-slice: initial; border-image-width: initial; border-image-outset: initial; border-image-repeat: initial; padding-top: 5%; padding-right: 5%; padding-bottom: 5%; padding-left: 5%;">
      <div class = titreColonne><p>HEURES <br /> D' OUVERTURES</p></div>
      <div class = contenuColonne>
        <p>
          Lundi - Jeudi: 8:00 à 16:00 <br />
          ​​Vendredi: 8:00 - 12:00 <br />
          ​Fin de semaine: FERMÉ
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row sectionBlockLayout text-left" style="display: flex; flex-wrap: wrap; margin: 0px; min-height: auto; padding: 8px;">
  <div class="container" style="padding: 0px; display: flex; flex-wrap: wrap;"><div class="col-md-12 columnBlockLayout" style="flex-grow: 1; display: flex; flex-direction: column; min-width: 250px;"></div></div>
</div>